body {
    background: linear-gradient(to bottom, #e0f7fa, #b2ebf2);
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

header {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 28px;
    border-radius: 0 0 10px 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

label {
    font-weight: bold;
    margin-right: 10px;
}

.plus-button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 5px;
}

.plus-button:hover {
    background-color: darkgreen;
}

.equal-button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 5px;
}

.equal-button:hover {
    background-color: darkorange;
}

.minus-button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 5px;
}

.minus-button:hover {
    background-color: darkred;
}

.button-container {
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

.coords-div {
    padding: 15px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 18px;
}

.container {
    max-width: 600px;
    max-height: 70vh;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.input-div {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-div label {
    margin-right: 10px;
    font-weight: bold;
}

.input-div input {
    width: 95%;
    height: 20%;
    max-width: 100%;
    padding: 8px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}